*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    backdrop-filter: blur(16px);
    background-color: rgba(232, 229, 228, 0.5);
}
.card:hover{
    backdrop-filter: blur(16px);
    background-color: rgba(232, 229, 228, 0.5);
}
.activeBtn {
    background-color: white;
    color: red; /* Change this to the color you want */
  }
  
  .getInTouch{
    color: rgba(110,110,110,1);

  }
  .social:hover{
    color: rgba(211,211,211,1);

  }
  @media (min-width: 768px) and (max-width: 850px) {
    .myImage {
      display: none;
    }
  }
  @media (min-width: 850px) and (max-width: 1024px) {
    .myImage {
      width: 240px;
      height: 245px;
    }
    
  }